componentsave/envs/coqui_env/Lib/site-packages/sudachidict_core/resources/system.dic
componentsave/envs/coqui_env/Lib/site-packages/torch/lib/torch_cpu.dll
componentsave/envs/coqui_env/Lib/site-packages/torch/lib/dnnl.lib
componentsave/envs/coqui_env/Lib/site-packages/sudachidict_core/resources/system.dic
componentsave/envs/coqui_env/Lib/site-packages/torch/lib/torch_cpu.dll
componentsave/envs/coqui_env/Lib/site-packages/torch/lib/dnnl.lib

# Large external codebases
freedom_system_2000/Stable_Diffusion_SDXL/
freedom_system_2000/alltalk_tts/
freedom_system_2000/koboldcpp/

# Embedded git repos
REPO_vs_claude_code_voice_mode/

# Python virtual environments
freedom_system_2000/whisper_stt/venv/

# Windows artifacts
nul
freedom_system_2000/text-generation-webui/nul
