componentsave/envs/coqui_env/Lib/site-packages/sudachidict_core/resources/system.dic
componentsave/envs/coqui_env/Lib/site-packages/torch/lib/torch_cpu.dll
componentsave/envs/coqui_env/Lib/site-packages/torch/lib/dnnl.lib

# Large external codebases (standalone installations)
app_cabinet/Stable_Diffusion_SDXL/
app_cabinet/alltalk_tts/
app_cabinet/koboldcpp/

# Upstream text-generation-webui (has its own git repo)
app_cabinet/text-generation-webui/*
# But DO track our custom extensions
!app_cabinet/text-generation-webui/extensions/
app_cabinet/text-generation-webui/extensions/*
!app_cabinet/text-generation-webui/extensions/boredom_monitor/
!app_cabinet/text-generation-webui/extensions/alltalk_tts/
app_cabinet/text-generation-webui/extensions/alltalk_tts/*
!app_cabinet/text-generation-webui/extensions/alltalk_tts/system/
app_cabinet/text-generation-webui/extensions/alltalk_tts/system/*
!app_cabinet/text-generation-webui/extensions/alltalk_tts/system/TGWUI_Extension/

# Embedded git repos
REPO_vs_claude_code_voice_mode/
REPO_claude_code_voice_mode/
REPO_waiver/

# Python virtual environments
app_cabinet/whisper_stt/venv/

# Python cache
**/__pycache__/
**/*.pyc

# Windows artifacts
nul
app_cabinet/text-generation-webui/nul
